# Vercel Supabase PostgreSQL Connection String
POSTGRES_URL=postgresql://postgres:[YOUR_PASSWORD]@db.supabase-amethyst-park.supabase.co:5432/postgres

# Stripe API Keys
STRIPE_SECRET_KEY=sk_test_put_your_stripe_secret_key_here

# Flask Secret Key
SECRET_KEY=super-secret-ecommerce-key-123
